/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/11/2020, 09:03:24 PM
    Author     : sofi
*/
div2{
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    background-color: tomato !important;
}

.color{
    
}

section{
    height: 60px;
    background-color: violet;
}


body, html{
    height: 100%;
    
    
}

.bg{
    
    background-image: url("https://k61.kn3.net/taringa/F/C/F/1/0/2/Funky_Dung/B4B.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    
}

.bg1{
    
    background-image: url("https://www.wallpapertip.com/wmimgs/91-917056_fondos-de-pantalla-paisajes-4k.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    
}

.chuchita{
    width: 800px ;
    align-self: center;
    opacity: 90%;
}


header h1{
    background: bisque;
    flex-direction: column;
    text-align: 50px;
    font-size: 30px;
    line-height: 100px;
}

.margenes{
    margin: 0px;
    padding: 0px;
}
nav h2{
    width: 300px;
    height: 500px;
    background: blue;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

section{
    width: 1580px;
    height: 500px;
    background: gold;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}